// Custom styles

$text-color-header: #434f74
$text-color: #959fbb

$text-size-paragraph: 14px
$text-size-header: 19px

html
  box-sizing: border-box

*,
*::after,
*::before
  box-sizing: inherit

body
  font-family: "Helvetica Neue", sans-serif
  font-size: $text-size-paragraph
  color: $text-color
  background: white





