// Custom styles

$text-color-header: #434f74
$text-color: #959fbb
$text-color-link: #6a93ff
$text-color-hover: #676e81
$text-color-underline: #719dff
$text-color-underline-hover: #425c92


$text-size-paragraph: 1rem
$text-size-header: 1.5rem

$icon-size: 20px

$button-bg-color: #f24e85
$button-bg-color-hover: #be3d68

// Text

@mixin text-mixin($font-weight: normal, $color: $text-color, $font-size: $text-size-paragraph)
  font-size: $font-size
  font-weight: $font-weight
  color: $color
  line-height: 1.2


// Icons

@mixin icon
  display: block
  width: $icon-size
  height: $icon-size

@mixin icon-link
  padding-left: 30px
  position: relative
  &::before
    @include icon
    content: ""
    position: absolute
    left: 0


// General

html
  box-sizing: border-box

*,
*::after,
*::before
  box-sizing: inherit

body
  font-family: "Helvetica Neue", sans-serif
  font-size: $text-size-paragraph
  color: $text-color
  background: white

img
  max-width: 100%
  height: auto

// ********************

// Header styles

.header
  width: 100%
  background: #fff
  top: 0
  left: 0
  position: absolute
  z-index: 2

.header__search-input
  border: 0
  width: 100%
  padding-left: 30px
  background: url("../image/search-ico.svg") no-repeat left
  background-size: $icon-size
  @include text-mixin
  &:focus
    outline: 0

.header__link-upload-img,
.header__link-notification-img
  @include icon

.header__link-nav-img
  display: none
  @include icon
  height: 15px
  max-width: initial

// ********************

//Nav styles

.nav__list
  padding: 0
  margin: 0
  width: 100%

.nav__list-title,
.nav__list-item
  display: block

.nav__list-title
  @include text-mixin(bold)
  color: $text-color-header
  margin: 40px 0

.nav__list-item
  margin-bottom: 30px
  &:last-child
    margin-bottom: 0

.nav__link
  @include text-mixin(bold)
  transition: color .1s linear
  &:hover
    color: $text-color-hover
    text-decoration: none


.nav__home-link
  @include icon-link
  &::before
    background: url("../image/home-ico.svg") no-repeat left

.nav__channels-link
  @include icon-link
  &::before
    background: url("../image/channels-ico.svg") no-repeat left


.nav__trending-link
  @include icon-link
  &::before
    background: url("../image/trending-ico.svg") no-repeat left


.nav__subscriptions-link
  @include icon-link
  &::before
    background: url("../image/subscriptions-ico.svg") no-repeat left


.nav__history-link
  @include icon-link
  &::before
    background: url("../image/history-ico.svg") no-repeat left

.nav__later-link
  @include icon-link
  &::before
    background: url("../image/later-ico.svg") no-repeat left

.nav__likes-link
  @include icon-link
  &::before
    background: url("../image/likes-ico.svg") no-repeat left

// ********************

// Main content styles
// Banner styles

.banner
  padding-top: 105px
  min-height: 475px
  background: url("../image/bg.jpg") no-repeat
  background-size: cover

.banner__img-container
  width: 100px
  height: 100px

.banner__img
  object-fit: cover
  width: 100%
  height: 100%
  border-radius: 5px

.banner__channel-name
  @include text-mixin(normal, white, 22px)

.banner__btn-subscribe
  @include text-mixin(bold)
  color: white
  border: 0
  border-radius: 5px
  padding: 10px 20px
  background-color: $button-bg-color
  transition: background-color .1s linear
  &:hover
    background-color: $button-bg-color-hover

.banner__facebook-img,
.banner__google-plus-img,
.banner__twitter-img
  width: 30px

// ********************
// Channel info

.channel-info__inner
  position: relative

.channel-info__menu
  position: absolute
  left: 0
  top: 0
  transform: translateY(-90%)
  width: 100%
  background-color: white


.channel-info__menu-item
  @include text-mixin(bold)
  display: block
  padding: 0 0 20px 0
  transition: border .1s ease-in-out
  &:hover
    border-bottom: 3px $text-color-underline-hover solid
    cursor: pointer
  &.active
    border-bottom: 3px $text-color-underline solid

.channel-info__video-title
  @include text-mixin(normal, $text-color-link, 22px)

.channel-info__release-date
  display: block

.channel-info__link
  @include text-mixin(normal, $text-color-link, 14px)

// ********************
// Video list

.video-list__card
  border-radius: 5px

.video-list__title
  @include text-mixin(normal, $text-color-header, $text-size-header)

.video-list__card-img
  border-radius: 5px 5px 0 0

.video-list__description
  @include text-mixin()

.video-list__card-video-title
  @include text-mixin(normal, $text-color-link, 13px)

.video-list__card-channel
  @include text-mixin(normal, $text-color-header, 12px)

.video-list__card-stats
  @include text-mixin(normal, $text-color, 12px)

.video-list__card-views
  @include icon-link
  &::before
    background: url("../image/views-ico.svg") no-repeat left
    height: 14px

.video-list__btn-view-more-link
  @include text-mixin(bold, $text-color, $text-size-header)
  padding-right: 30px
  position: relative
  transition: color .1s linear
  &:hover
    cursor: pointer
    @include text-mixin(bold, $text-color-hover, $text-size-header)
    text-decoration: none
  &:after
    @include icon
    content: ""
    position: absolute
    right: 0
    top: 0
    transition: background .1s linear
    background: url("../image/arrow.svg") no-repeat right


@media (min-width: 992px)
  .header__link-nav
    display: none
